body {
    font-family: 'Roboto';
}


.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 180px;
    padding-right: 180px;

}

.right-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-links {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}


#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

#secondary {
    font-size: 18px;
    color: #E5E7EB
}

/*---------------------------------*/

.hero {
    display: flex;
    height: 450px;
    padding-left: 180px;
    padding-right: 180px;
    background-color: #1F2937;
    flex: 0;
}


.hero-text {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    background-color: #1F2937;
    padding-top: 100px;
    gap: 4px;
}

.hero-image {
    display: flex;
    flex-basis: 50%;
    padding-top: 100px;
    background-color: #1F2937;
}

#hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text button {
    width: 140px;
    height: 40px;
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    font-size: 18px;
}

.hero-text button:active {
    background-color: #2d65bf;
}


#img-placeholder {
    display: flex;
    background-color: #3882F6;
    height: 60%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #a3a3a3;
    color: #F9FAF8;
    font-size: 20px;
}

/*---------------------------------*/

.info-container {
    display: flex;
    height: 500px;
    padding-left: 180px;
    padding-right: 180px;
    flex-direction: column;

}

#title {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    padding: 20px;
    flex: 0;
}

.box-container {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    gap: 36px;

}

#outer-box {
    display: flex;
    width: 180px;
    height: 240px;
    flex-direction: column;
    align-items: center;

}

#box {
    width: 160px;
    height: 160px;
    border: solid 4px #3882F6;
    border-radius: 12px;
}

#subtext {
    font-weight: 500;
    width: 160px;
    text-align: center;
}

/* ------------------------------------- */

.quote-container {
    display: flex;
    height: 440px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
}

.flex-container {
    display: flex;
    width: 848px;
    height: 220px;
    flex-direction: column;
    justify-content: center;
}


#quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300 lighter;
    color: #1F2937;
    width: 840px;

}

#author {
    width: 240px;
    font-size: 24px;
    align-self: flex-end;
    margin-right: 70px;
}

/* ------------------------------------- */

.pop-container {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
}

#pop-up {
    display: flex;
    border: 6px solid #3882F6;
    width: 1000px;
    height: 140px;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 12px;
}

#pop-text {
    height: 80px;
    flex-direction: column;
    color: #F9FAF8;
}

#pop-title {
    font: 700;
    font-size: 24px;
}

#under-text {
    color: #E5E7EB;
}

#pop-up button {
    font-size: 16px;
    background-color: #3882F6;
    width: 140px;
    height: 40px;
    border: solid 2px #F9FAF8;
    color: #F9FAF8;
    border-radius: 8px;
}

#pop-up button:active {
    background-color: #2d65bf;
}
/* ------------------------------------- */

.footer {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}